.descrip {
    position: relative;
    left: 30px;
    font-family: sans-serif;
    margin-bottom: 100px;
}

.title {
    text-align: center;
    font-size: 22px;
    font-style: italic;
}

img{
    width: 400px;
    height: 250px;
    float: left;
}
